
    <div>
        <p>Developed by: Kirill Shats</p>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/js/todo.js"></script>
</body>
</html>